$barBackground: 'darkGrey';
$barColor: 'lightGrey';

body {

    margin: 0;
}

// .progress {
head {

    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #{$barBackground};
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}

// .progress .indeterminate {
head:after {
    background-color: #{$barColor};
    display: block;
    content: '';
    height: 4px;
}

// .progress .indeterminate:before {
head:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}
