body {
  background-color: #dddee0;
}

.seconds {
  background-color: aquamarine;
  height: 2px;
  width: 600px;
  margin: auto;
  position: relative;
  top: 100px;
}

.bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,lighten(tomato, 20%)), color-stop(100%,darken(tomato,20%)));
  height: 2px;
  width: 0%;
}

.animating {
  -webkit-animation: progress 2s infinite ease-in-out;
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
